<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196004541565-iqcb8o3uutgchnq72ok13jmssbs6ihag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196004541565-iqcb8o3uutgchnq72ok13jmssbs6ihag</string>
	<key>API_KEY</key>
	<string>AIzaSyCtxYUF31DfaWREEaMkOP9U6bXcsiPv1Oc</string>
	<key>GCM_SENDER_ID</key>
	<string>196004541565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elearningapp</string>
	<key>PROJECT_ID</key>
	<string>study-app-1d6be</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-1d6be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196004541565:ios:74981626eaba41b2a3ad14</string>
</dict>
</plist>